<div>
  <form action="/words/<%=@word.is() %>/definitions" method="post">
    <input type="text" id="definition" name="definition">
    <button type="submit">Add Definition</button>
  </form>
</div>
<div class="dotted_border">
  <h4>Definitions for '<%= @word.is %>':</h4>
  <ul>
    <% @word.definitions.each do |definition| %>
    <li><%= definition %></li>
    <% end %>
  </ul>
</div>
