<!DOCTYPE html>
<html>
<head>
  <title>Words and Definitions</title>
  <link href="/css/words_and_defs.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <header><h2>Words and Descriptions</h2></header>
    <div>
      <%= yield %>
    </div>
    <footer><a href='/'>Home</a></footer>
  </div>
</body>
</html>
