a {
  text-decoration: none;
}
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: darkgreen;
}

div {
  padding: 4px;
  margin: 4px;
}

div.dotted_border {
  border-width: 2px;
  border-radius: 6px;
  border-style: dotted;
  background-color: white;
}

div.container {
  font-family: Impact, Charcoal, sans-serif;
  font-wieght: lighter;
  display: inline-block;
  margin: auto;
  padding: 10px;
  background-color: silver;
  border-radius: 25px;
}

div.container a {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2px;
}

header {
  text-align: center;
}

footer {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 0.75em;
  font-weight: bold;

}

footer a {
  margin-left: 1em;
  margin-right: 1em;
}
